body{

    background-color: white;

}

h1{

    color: white;
    background-color: black;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-radius: 50px;
    

}


p{

    color: rgb(41, 41, 244);
    margin-bottom: 40px;
    margin-left: 20px;

}

.exemplo-back{

    height: 300px;
    background: gray url("img/Imagem-fundo.jpg") center no-repeat;
    background-size: cover;
    
    
}