body{

    background-color: white;

}

#teste{

    display: flex;
    align-items: center;
    justify-content: center;

}

h1{

    color: white;
    background-color: black;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-radius: 50px;
    padding: 50px 70px 20px 10px;
    margin: 50px ;

}


p{

    color: black;
    text-align: justify;
    text-indent: 50px;
    word-spacing: 15px;

}

.exemplo-back{

    height: 100px;
    background: gray url("img/Imagem-fundo.jpg") center no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    
}

.botao{

    margin-left: 33%;
    background-color: green;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;

}

.botao:hover{

    background-color: rgb(146, 216, 75);
    transition: 0.3s;

}

.teste{

    max-width: 800px;
    
    height: 250px;
    background-color: cyan;
    
}